<form class="registerForm" [formGroup]="form">
   <mat-form-field>
    <mat-label>Firstname</mat-label>
    <input type="text" matInput name="firstname" formControlName="firstname">
   </mat-form-field> 

   <mat-form-field>
    <mat-label>Lastname</mat-label>
    <input type="text" matInput name="lastname" formControlName="lastname">
   </mat-form-field> 

   <mat-form-field>
    <mat-label>Username</mat-label>
    <input type="text" matInput name="username" formControlName="username">
   </mat-form-field> 

   <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput name="password" formControlName="password">
   </mat-form-field>

   <mat-form-field>
    <mat-label>Phone number</mat-label>
    <input type="tel" matInput name="phone" formControlName="phone">
   </mat-form-field>

   <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput name="email" formControlName="email">
   </mat-form-field> 

   <mat-form-field>
    <mat-label>PIB</mat-label>
    <input type="text" matInput name="pib" formControlName="pib">
   </mat-form-field> 

   <mat-form-field>
      <mat-label>MB</mat-label>
      <input type="text" matInput name="mb" formControlName="mb">
   </mat-form-field>

   <mat-form-field>
      <mat-label>Enterprise name</mat-label>
      <input type="text" matInput name="entp_name" formControlName="entp_name">
   </mat-form-field>

   <input type="file" (change)="onFileInputChange($event)">
   <span class="error">{{imageError}}</span>
   <button mat-raised-button type="button" (click)="register()">Register</button>
</form>
